<footer>
    <div class="footer-links">
        <a href="#/public/terms">Terms &amp; Conditions</a>
        <a href="#/public/privacypolicy">Privacy Policy</a>
        <a href="#/public/pricing">Pricing</a>
        <a href="#">Blog</a>
        <a href="#/public/contact">Contact us</a>
    </div>
    <div class="footer-contact-links">
        <a href="tel:+1 925-237-1069">+1 925-237-1069</a>/<a href="mailto:support@hagglr.ai">support@hagglr.ai</a>
    </div>
    <div class="footer-social-links">
        <a href="#fb"><img src="assets/images/fb-logo.png"></a>
        <a href="#tw"><img src="assets/images/twitter-logo.png"></a>
        <a href="#"><img src="assets/images/insta-logo.png"></a>
        <a href="#"><img src="assets/images/linkedin-logo.png"></a>
        <a href="#"><img src="assets/images/pinterest-icon.png"></a> 
        <a href="#"><img src="assets/images/reddit-icon.png"></a> 
        <a href="#"><img src="assets/images/tumblr-icon.png"></a> 
        </div>
        <div class="footer-copyrights">
            <p>@2018-2020 Hagglr, Inc.</p>
        </div>
    </footer>