
<div class="main-content">
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->


    
        <h4 class="axil-display-1 Looking-for-the-best wow slideFadeInUp" data-wow-duration="1s" data-wow-delay="500ms">Looking for the best deals and save money? Just Ask <span class="bg-all">Hagglr!</span></h4>
        <div class="wow slideFadeInUp Hagglr-is-available" data-wow-duration="1s" data-wow-delay="800ms"><span class="bg-all">Hagglr</span> is available in all the messaging channels. 
        Click your favorite messaging channel for the <span class="bg-all">Hagglr</span> Chatbot</div>
        
        <div class="hey-google">
            <div class="col-md-6"><div class="vgoogle-pop"><img src="assets/images/hey-google.jpg" class="img-responsive"></div></div>
            <div class="col-md-6"><div class="vgoogle-pop1"><img src="assets/images/alexa-msg.jpg" class="img-responsive"></div></div>
        </div>

    <!-- Start Slider Area -->
    <div class="axil-slider-area axil-slide-activation">
        <!-- Start Single Slide -->
        <div class="axil-slide slide-style-default theme-gradient slider-fixed-height d-flex align-items-center paralax-area">
            <div class="container">
                <div class="row align-items-center pt_md--60 mt_sm--60">
                    <div class="vtop-sec">
                        <div class="main-banner-features">
                            <div class="mbf-tooltip-wrap mbf-tooltip-left thumb wow paralax-image animated">
                                <a href="#"><img src="assets/images/google.png" class="img-responsive"></a>
                            </div>
                            <div class="mbf-tooltip-wrap mbf-tooltip-left without-background">
                                <a href="#"><img src="assets/images/slack.png" class="img-responsive"></a>
                            </div>
                            <div class="mbf-tooltip-wrap mbf-tooltip-left without-background">
                                <a href="#"><img src="assets/images/kik.png" class="img-responsive"></a>
                            </div>
                            <div class="mbf-tooltip-wrap mbf-tooltip-left without-background">
                                <a href="#"><img src="assets/images/viber.png" class="img-responsive"></a>
                            </div>
                            <div class="mbf-tooltip-wrap mbf-tooltip-left without-background">
                                <a href="#"><img src="assets/images/fb.png" class="img-responsive"></a>
                            </div>
                            <div class="mbf-tooltip-wrap mbf-tooltip-left without-background">
                                <a href="#"><img src="assets/images/whatsapp.png" class="img-responsive"></a>
                            </div>
                            <div class="mbf-tooltip-wrap mbf-tooltip-left without-background">
                                <a href="#"><img src="assets/images/sms.png" class="img-responsive"></a>
                            </div>
                            <div class="mbf-tooltip-wrap mbf-tooltip-left without-background">
                                <a href="#"><img src="assets/images/telegram.png" class="img-responsive"></a>
                            </div>
                            <div class="mbf-tooltip-wrap mbf-tooltip-left without-background alexa-sp">
                                <a href="#"><img src="assets/images/alexa.png" class="img-responsive"></a>
                            </div>
                        </div>
                    </div>
                    <div class="dhide"><img src="assets/images/banner.png" class="img-responsive"></div>
                    <div class="col-lg-5 col-12 order-1 order-lg-2">
                        <div class="topskew-thumbnail-group text-left msg-box text-lg-right">
                            <div class="shape-group">
                                <div class="paralax--1">
                                    <img src="assets/images/msg.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Slide -->
    </div>
    <!-- End Slider Area -->


  <div class="container">
    <!-- Start Portfolio Area -->
          <div class="axil-portfolio-area ax-section-gap bg-color-lightest">
              <div class="container axil-masonary-wrapper">
                  <div class="row">
          <h2 class="title vtitle wow">We Are Offering the<span class="bg-all"> Deals</span></h2>
                      <div class="col-lg-12">
                          <div class="mesonry-list grid-metro3 mt--20">
                              <!-- Start Single Portfolio -->
                              <div class="portfolio portfolio_style--1 axil-control active portfolio-33-33 cat--1 cat--2">
                                  <div class="inner move-up wow">
                                      <div class="thumb wow paralax-image">
                                          <a href="#"><img src="assets/images/gallery1.jpg" alt=""></a>
                                      </div>
                                      <div class="port-overlay-info">
                                          <div class="hover-action">
                                              <h4 class="title"><a href="single-case-study.html">Food and Drink</a></h4>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <!-- End Single Portfolio -->

                              <!-- Start Single Portfolio -->
                              <div class="portfolio portfolio_style--1 axil-control portfolio-33-33 cat--2">
                                  <div class="inner move-up wow">
                                      <div class="thumb wow paralax-image">
                                          <a href="#"><img src="assets/images/gallery2.jpg" alt=""></a>
                                      </div>
                                      <div class="port-overlay-info">
                                          <div class="hover-action">
                                              <h4 class="title"><a href="single-case-study.html">Automotive</a></h4>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <!-- End Single Portfolio -->

                              <!-- Start Single Portfolio -->
                              <div class="portfolio portfolio_style--1 portfolio-33-33 cat--3">
                                  <div class="inner move-up wow">
                                      <div class="thumb wow paralax-image">
                                          <a href="#"><img src="assets/images/gallery3.jpg" alt=""></a>
                                      </div>
                                      <div class="port-overlay-info">
                                          <div class="hover-action">
                                              <h4 class="title"><a href="single-case-study.html">Beauty & spa</a></h4>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <!-- End Single Portfolio -->

                              <!-- Start Single Portfolio -->
                              <div class="portfolio portfolio_style--1 col-md-3 cat--1 cat--2">
                                  <div class="inner move-up wow">
                                      <div class="thumb wow paralax-image">
                                          <a href="#"><img src="assets/images/gallery4.jpg" alt=""></a>
                                      </div>
                                      <div class="port-overlay-info">
                                          <div class="hover-action">
                                              <h4 class="title"><a href="single-case-study.html">Health & fitness</a></h4>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <!-- End Single Portfolio -->

                              <!-- Start Single Portfolio -->
                              <div class="portfolio portfolio_style--1 col-md-3 cat--3">
                                  <div class="inner move-up wow">
                                      <div class="thumb wow paralax-image">
                                          <a href="#"><img src="assets/images/gallery5.jpg" alt=""></a>
                                      </div>
                                      <div class="port-overlay-info">
                                          <div class="hover-action">
                                              <h4 class="title"><a href="single-case-study.html">Things to do</a></h4>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <!-- End Single Portfolio -->

                              <!-- Start Single Portfolio -->
                              <div class="portfolio portfolio_style--1 col-md-3 cat--2 cat--3">
                                  <div class="inner move-up wow">
                                      <div class="thumb wow paralax-image">
                                          <a href="#"><img src="assets/images/gallery6.jpg" alt=""></a>
                                      </div>
                                      <div class="port-overlay-info">
                                          <div class="hover-action">
                                              <h4 class="title"><a href="single-case-study.html">Grocery</a></h4>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <!-- End Single Portfolio -->
              
              <!-- Start Single Portfolio -->
                              <div class="portfolio portfolio_style--1 col-md-3 cat--3">
                                  <div class="inner move-up wow">
                                      <div class="thumb wow paralax-image">
                                          <a href="#"><img src="assets/images/services.jpg" alt=""></a>
                                      </div>
                                      <div class="port-overlay-info">
                                          <div class="hover-action">
                                              <h4 class="title"><a href="single-case-study.html">Services</a></h4>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <!-- End Single Portfolio -->
              
                          </div>
                          
                      </div>
                  </div>
              </div>
          </div>
          <!-- End Portfolio Area -->
      </div>

      <div class="container">
          <!-- How it works section start-->
          <section id="How-It-Works" class="how-it-works-section">
      <div class="how-it-works-wrap">
        <div class="row no-gutters">
          <div class="col-xs-12 col-sm-6 col-md-5">
            <div class="how-it-works-left">
              <h1 class="left-line">How It <span>Works</span></h1>
              <p class="vpad">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco </p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-7">
            <div class="how-it-works-right">
                              <!-- <img src="assets/images/how-it-work.jpg" class="img-responsive"> -->
                              <iframe width="800" height="518" src="https://www.youtube.com/embed/1L5NpxbRxXA?rel=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div>					
      </div>					
    </section>
          <!-- How it works section end here -->
      </div>

      


      <div class="container">
          <!-- what it means start -->
          <section class="product-slider-section">
      <div class="container">
        <h1 class="vtitle">What <span>Chatbot Means?</span></h1>
        <div class="product-slider-wrap">
          <div id="product-slider-one" class="carousel slide">
            <ol class="carousel-indicators">
              <li data-target="#product-slider-one" data-slide-to="0"></li>
              <li data-target="#product-slider-one" data-slide-to="1"></li>
              <li data-target="#product-slider-one" data-slide-to="2" class="active"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item mchat1">
                <div class="row no-gutters">
                  <div class="col-md-3 vtext1 move-up wow">
                    <div class="product-slider-inner">
                      <h3>Search</h3>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                  </div>
                  <div class="col-md-2 vtext1 vimg1 move-up wow">
                    <img src="assets/images/chatbot1.png" class="img-responsive vtext1 move-up wow">
                  </div>
                </div>
              </div>
            
              <div class="carousel-item mchat1">
                <div class="row no-gutters">
                  <div class="col-md-3 vtext1 move-up wow">
                    <div class="product-slider-inner">
                      <h3>Search</h3>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                  </div>
                  <div class="col-md-2 vtext1 vimg1 move-up wow">
                    <img src="assets/images/chatbot1.png" class="img-responsive vtext1 move-up wow">
                  </div>
                  <div class="col-md-2 vtext2 vimg2 move-up wow">
                    <img src="assets/images/chatbot2.png" class="img-responsive vtext1 move-up wow">
                    <div class="product-slider-inner with-image">
                      <h3>Select Hagglr</h3>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="carousel-item active">
                <div class="row no-gutters">
                  <div class="col-md-3 vtext1 move-up wow">
                    <div class="product-slider-inner">
                      <h3>Search</h3>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                  </div>
                  <div class="col-md-2 vtext1 vimg1 move-up wow">
                    <img src="assets/images/chatbot1.png" class="img-responsive vtext1 move-up wow">
                  </div>
                  <div class="col-md-2 vtext2 vimg2 move-up wow">
                    <img src="assets/images/chatbot2.png" class="img-responsive vtext1 move-up wow">
                    <div class="product-slider-inner with-image">
                      <h3>Select Hagglr</h3>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                  </div>
                  <div class="col-md-2 vtext3 vimg3 move-up wow">
                    <img src="assets/images/chatbot3.png" class="img-responsive vtext3 move-up wow">
                  </div>
                  <div class="col-md-3 vtext3 move-up wow">
                    <div class="product-slider-inner">
                      <h3>Get the best deals near you</h3>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>

          </div>
        </div>
      </div>
    </section>
          <!-- what it means end here -->
      </div>   

       <!-- Start About Us Business Area -->
<div id="join-for-free" class="axil-about-us-area grow-bg ax-section-gap axil-shape-position">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 col-xl-6 col-md-12 col-12">
              <div class="axil-about-inner">
                  <div class="section-title grow-pad text-left">
                      <h2 class="title move-up wow">Grow your  <br /> business by</h2>
                      <h1 class="title move-up wow">10x <img src="../../assets/images/play-icon.png" alt="" /></h1>
                      
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-xl-4 offset-xl-2 col-md-12 col-12 mt_md--30 mt_sm--30">
              <div class="contact-form-wrapper">
                  <!-- Start Contact Form -->
                  <div class="axil-contact-form contact-form-style-1">
                      <h3 class="title">Are you a <br> <span class="bg-all">Business</span></h3>
                      <form action="#">
                          <div class="form-group">
                              <input type="text">
                              <label>Business Email</label>
                              <span class="focus-border"></span>
                          </div>
                          <div class="form-group">
                              <input type="email">
                              <label>Business Name</label>
                              <span class="focus-border"></span>
                          </div>
                          <div class="form-group">
                              <input type="text">
                              <label>Business Phone</label>
                              <span class="focus-border"></span>
                          </div>
                          <div class="form-group">
                              <input type="text">
                              <label>Business Zip Code</label>
                              <span class="focus-border"></span>
                          </div>
                          <div class="form-group">
                              <input type="text">
                              <label>Password</label>
                              <span class="focus-border"></span>
                          </div>
                          <div class="form-group vsubmit-btn">
                              <button class="axil-button btn-large btn-transparent w-100">
                                  <span class="button-text">SUBMIT</span>
                              </button>
                          </div>
                      </form>
                     
                  </div>
                  <!-- End Contact Form -->
              </div>
          </div>
      </div>
  </div>
</div>
<!-- End About Us Business Area -->
      
      <div class="container">
           <!-- Start Service Area1 -->
           <div class="axil-service-area ax-section-gap bg-color-white">
              <div class="container">
                  <div class="row">
                      <div class="col-lg-12">
                          <div class="section-title text-center">
                              <h2 class="title wow">Why <span class="bg-all">Hagglr</span></h2>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <!-- Start Single Service -->
                      <div class="col-lg-4 col-md-6 col-sm-6 col-12 move-up wow animate">
                          <div class="axil-service text-center axil-control paralax-image">
                              <div class="inner">
                                  <img src="assets/images/downloads.jpg" alt="Icon Images">
                                  <div class="content">
                                      <h4 class="title wow"><a href="single-service.html">No Download</a></h4>
                                      <p class="wow">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- End Single Service -->

                      <!-- Start Single Service -->
                      <div class="col-lg-4 col-md-6 col-sm-6 col-12 move-up wow animate">
                          <div class="axil-service text-center axil-control paralax-image active">
                              <div class="inner">
                                  <img src="assets/images/no-sign-up.jpg" alt="Shape Images">
                                  <div class="content">
                                      <h4 class="title wow"><a href="single-service.html">No Sign Up</a></h4>
                                      <p class="wow">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- End Single Service -->

                      <!-- Start Single Service -->
                      <div class="col-lg-4 col-md-6 col-sm-6 col-12 move-up wow animate">
                          <div class="axil-service text-center axil-control paralax-image">
                              <div class="inner">
                                  <img src="assets/images/no-purchase.jpg" alt="Shape Images">
                                  <div class="content">
                                      <h4 class="title wow"><a href="single-service.html">No Purchase required</a></h4>
                                      <p class="wow">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- End Single Service -->

                  </div>
              </div>
          </div>
          <!-- End Service Area1 -->
      </div>

          
      <div class="container">
    <!-- Start Service Area2 -->
          <div class="axil-service-area ax-section-gap bg-color-white">
              <div class="container">
                  <div class="row">
                      <div class="col-lg-12">
                          <div class="section-title text-center">
                              <h2 class="title wow">Benefits for <span class="bg-all">Business</span></h2>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <!-- Start Single Service -->
                      <div class="col-lg-4 col-md-6 col-sm-6 col-12 move-up wow">
                          <div class="axil-service text-center axil-control paralax-image">
                              <div class="inner">
                                  <img src="assets/images/downloads.jpg" alt="Icon Images">
                                  <div class="content">
                                      <h4 class="title wow"><a href="single-service.html">Auto Deal Generation AI</a></h4>
                                      <p class="wow">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- End Single Service -->

                      <!-- Start Single Service -->
                      <div class="col-lg-4 col-md-6 col-sm-6 col-12 move-up wow">
                          <div class="axil-service text-center axil-control paralax-image active">
                              <div class="inner">
                                  <img src="assets/images/no-sign-up.jpg" alt="Shape Images">
                                  <div class="content">
                                      <h4 class="title wow"><a href="single-service.html">Get Repeat Customers</a></h4>
                                      <p class="wow">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- End Single Service -->

                      <!-- Start Single Service -->
                      <div class="col-lg-4 col-md-6 col-sm-6 col-12 move-up wow">
                          <div class="axil-service text-center axil-control paralax-image">
                              <div class="inner">
                                  <img src="assets/images/no-purchase.jpg" alt="Shape Images">
                                  <div class="content">
                                      <h4 class="title wow"><a href="single-service.html">Spend Less Make More</a></h4>
                                      <p class="wow">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- End Single Service -->

                  </div>
              </div>
          </div>
          <!-- End Service Area2 -->
      </div>    

      <div class="container">
          <!-- Start Counterup Area outter -->
          <div class="axil-counterup-area ax-section-gap bg-color-white">
              <div class="container">
                  <div class="row">
                      <div class="col-lg-12">
                          <div class="section-title text-center">
                              <h2 class="title wow" >Go Where  <span class="bg-all">Customers Are</span></h2>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <!-- Start Counterup Area1 -->
          <div class="col-md-1"></div>
                      <div class="col-md-2">
                          <div class="axil-counterup mt--60 text-center counter-first move-up wow">
                              <h3 class="count no-pers">3.2</h3>
                              <h5>billion users</h5>
              <p>3.2 billion customers on all messaging channels</p>
                          </div>
                      </div>
                      <!-- End Counterup Area1 -->

                      <!-- Start Counterup Area2 -->
                      <div class="col-md-6">
                          <div class="move-up wow vtext4">
              <img src="assets/images/go-where.png" class="img-responsive">
                          </div>
            <div class="axil-counterup text-center counter-four move-up wow">
                              <h3 class="count">67</h3>
                              <h5>billion users</h5>
              <p>Average time spents on messaging</p>
                          </div>
                      </div>
                      <!-- End Counterup Area2 -->

                      <!-- Start Counterup Area3 -->
                      <div class="col-md-2">
                          <div class="axil-counterup mt--60 mt_md--30 mt_sm--30 text-center counter-third move-up wow">
                              <h3 class="count">55</h3>
                              <h5>searches</h5>
              <p>through voice assistant Alexa and google assistant</p>
                          </div>
                      </div>
          <div class="col-md-1"></div>
                      <!-- End Counterup Area3 -->


                  </div>
              </div>
          </div>
          <!-- End Counterup Area outter -->
      </div>

          <!-- slider section start-->
          <section class="testimonial-slider-section">
      <div class="container">
        <div class="row">
                      <div class="col-lg-12">
                          <div class="section-title text-center">
              <h2 class="title wow" >What they say  <span class="bg-all">about us!</span></h2>
              <p class="subtitle-2 wow words chars splitting animated">Customer Review Sites for Collecting Business & Product Reviews</p>
                          </div>
                      </div>
                  </div>
        <div class="testimonial-wrap">
          <div class="row no-gutters">
            <div class="col-xs-12 col-sm-7">
              <div class="testimonial-left">
                <img src="assets/images/testimonial-img.jpg" class="img-responsive" />
              </div>
            </div>
            <div class="col-xs-12 col-sm-5">							
              <div id="testimonial-slider-one" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="row">
                      <div class="col-xs-12 col-sm-12">													
                        <div class="testimonial-slider-inner">
                          <p>Hagglr is keeping us busy all the time, we can throw great deals at our convenince to attract repeast customers. It's a win win for both of us</p>
                          <div class="testimonialer">
                            <img src="assets/images/avat.png" class="img-responsive" />
                            <h3>Max Zappata</h3>
                            <h4>Quality Auto Services, San Francisco</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="row">
                      <div class="col-xs-12 col-sm-12">													
                        <div class="testimonial-slider-inner">
                          <p>Hagglr is keeping us busy all the time, we can throw great deals at our convenince to attract repeast customers. It's a win win for both of us</p>
                          <div class="testimonialer">
                            <img src="assets/images/avat.png" class="img-responsive" />
                            <h3>Max Zappata</h3>
                            <h4>Quality Auto Services, San Francisco</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
          <!-- slider section end -->    

   <pricing-info></pricing-info>
   <contact-form></contact-form>        


<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
 
  
</div>