@media screen and (max-width:960px) {
    #pricing .pricingTable {
        display: block;
        box-sizing: border-box;
        padding: 0;
        width: 100%;
        max-width: 40pc
    }
    #pricing .pricingTable tbody, #pricing .pricingTable thead, #pricing .pricingTable thead {
        border: none;
        display: block;
        width: 100%
    }
    #pricing .pricingTable tbody tr, #pricing .pricingTable thead tr, #pricing .pricingTable thead tr {
        width: 100%;
        border: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: box;
        display: flex;
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        -o-box-orient: horizontal;
        -ms-flex-flow: row;
        flex-flow: row;
        -webkit-box-lines: multiple;
        -moz-box-lines: multiple;
        -o-box-lines: multiple;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    #pricing .pricingTable tbody tr td, #pricing .pricingTable tbody tr th, #pricing .pricingTable thead tr td, #pricing .pricingTable thead tr th, #pricing .pricingTable thead tr td, #pricing .pricingTable thead tr th {
        border: none;
        box-sizing: border-box;
        width: 100%
    }
    #pricing .pricingTable tbody tr td, #pricing .pricingTable thead tr td, #pricing .pricingTable thead tr td {
        text-align: left
    }
    #pricing .pricingTable tbody tr td.check span, #pricing .pricingTable tbody tr td.x span, #pricing .pricingTable thead tr td.check span, #pricing .pricingTable thead tr td.x span, #pricing .pricingTable thead tr td.check span, #pricing .pricingTable thead tr td.x span {
        display: inline-block;
        position: relative;
        margin-bottom: -20px;
        vertical-align: top;
        top: -3px
    }
    #pricing .pricingTable tbody tr td.x span, #pricing .pricingTable thead tr td.x span, #pricing .pricingTable thead tr td.x span {
        margin-left: 3px
    }
    #pricing .pricingTable tbody tr td:before, #pricing .pricingTable thead tr td:before, #pricing .pricingTable thead tr td:before {
        width: 40%;
        padding-left: 20px;
        content: attr(data-plan);
        display: inline-block
    }
    #pricing .pricingTable thead h2{
        display: none;
    }
    #pricing .pricingTable thead tr td {
        padding-left: 50%;
        position: relative;
        text-align: center
    }
    #pricing .pricingTable thead tr td .callToActionButton {
        display: block;
        text-align: center
    }
    #pricing .pricingTable thead tr td:before {
        content: attr(data-plan);
        text-align: left;
        display: block;
        width: 50%;
        position: absolute;
        left: 0;
        top: 25px;
        font-weight: 600
    }
    #pricing .pricingTable tbody {
        border-top: 1px solid #dce6ea;
        border-bottom: 1px solid #dce6ea
    }
    #pricing .pricingTable tbody tr td {
        padding: 5px 0 25px
    }
    #pricing .pricingTable tbody tr th {
        padding-top: 30px;
        padding-bottom: 20px;
        border-top: 1px solid #dce6ea
    }
    #pricing .pricingTable tbody tr th p {
        max-width: 35em;
        text-align: center;
        margin: 0 auto
    }
    #pricing .pricingTable tbody tr:first-child th {
        border-top: none
    }
    #pricing .pricingTable tbody tr .pricingLink {
        display: -webkit-box;
        display: -ms-flexbox;
        display: box;
        display: flex;
        -webkit-box-orient: horizontal;
        -o-box-orient: horizontal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -o-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
    #pricing .pricingTable tbody tr .pricingLink:before {
        width: 0;
        padding-left: 0;
        content: none
    }
    #pricing .pricingTable tbody h3 {
        font-weight: 600;
        font-size: 18px;
        padding-top: 5px;
        margin: 0 auto;
        text-align: center
    }
    #pricing .pricingTable .priceFree p:first-child {
        padding-top: 0
    }
}