<!-- <div class="left side-menu">
    <div class="slimscroll-menu" id="remove-scroll">
        <div id="sidebar-menu">
            <ul class="metismenu" id="side-menu">
                <li [ngClass]="activePage === 'dashboard' ? 'mm-active' : ''">
                    <a routerLink="/member/dashboard" class="waves-effect"><i class="mdi mdi-home"></i><span>Dashboard</span></a>
                </li>
                <--<li>
                    <a href="profile.html" class="waves-effect"><i class="ti-user"></i><span> Profile</span></a>
                </li> --
                <li [ngClass]="activePage === 'dealbuilder' ? 'mm-active' : ''">
                    <a routerLink="/member/dealbuilder" class="waves-effect"><i class="mdi mdi-thumb-up"></i><span> Deal Builder</span></a>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div> -->