<div id="wrapper" style="overflow: auto;">
  <member-header></member-header>
  <div class="container-fluid">
    <div class="page-title-box">
      <div class="row align-items-center">
        <div class="col-sm-6">
          <h4 class="page-title">Subscription</h4>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/member/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item"><a routerLink="/member/profile">Profile</a></li>
            <li class="breadcrumb-item active">Subscription</li>
          </ol> 
        </div>
      </div>
    </div>
  
  </div>
  <div class="card directory-card profile-form" style="margin: 35px;">
    <div class="card-body">
      <section id="pricing" class="section-padding" style="background: transparent;padding-top: 10px;">
        <div class="container">
          <div class="section-header text-center">
            <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Plans & Pricing</h2>
            <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
          </div>

          <p>Hagglr's pricing is designed to be simple, and affordable. It is
            free to get started. You can pay for what you need.</p>
          <table class="pricingTable">
            <thead>
              <tr>
                <th></th>
                <td>
                  <h2>Pro</h2>
                  <span class="notes">free up to 1 year, then 99/Month</span>
                </td>
                <td>
                  <h2>Premium</h2>
                  <span class="notes">Coming Soon</span>
                </td>
              </tr>
            </thead>
            <tbody>
                <tr>
                    <th>
                        <h3>Post Unlimited Deals</h3>
                    </th>
                    <td data-plan="Basic" class="check">
                        <span></span>
                    </td>
                    <td data-plan="Pro" class="check">
                        <span>Yes</span>
                    </td>
                </tr>
                <tr>
                    <th>
                        <h3>Facebook Messenger</h3>
                    </th>
                    <td data-plan="Basic" class="check">
                        <span></span>
                    </td>
                    <td data-plan="Pro" class="check">
                        <span>Yes</span>
                    </td>
                </tr>
                <tr>
                    <th>
                        <h3>Slack</h3>
                    </th>
                    <td data-plan="Basic" class="check">
                        <span></span>
                    </td>
                    <td data-plan="Pro" class="check">
                        <span>Yes</span>
                    </td>
                </tr>
                <tr>
                    <th>
                        <h3>Alexa</h3>
                    </th>
                    <td data-plan="Basic" class="check">
                        <span></span>
                    </td>
                    <td data-plan="Pro" class="check">
                        <span>Yes</span>
                    </td>
                </tr>
                <tr>
                    <th>
                        <h3>Google Assistant</h3>
                    </th>
                    <td data-plan="Basic" class="check">
                        <span></span>
                    </td>
                    <td data-plan="Pro" class="check">
                        <span>Yes</span>
                    </td>
                </tr>

                <tr>
                    <th>
                        <h3>Viber, Telegram and Whatsapp</h3>
                    </th>
                    <td data-plan="Basic" class="x">
                        <span></span>
                    </td>
                    <td data-plan="Pro" class="check">
                        <span>Yes</span>
                    </td>
                </tr>
                <tr>
                    <th>
                        <h3>Bixby (Samsung Devices)</h3>
                    </th>
                    <td data-plan="Basic" class="x">
                        <span></span>
                    </td>
                    <td data-plan="Pro" class="check">
                        <span>Yes</span>
                    </td>
                </tr>
                <tr>
                    <th>
                        <h3> Integration with DoorDash, UberEats, PostMates and Grubhub</h3>
                    </th>
                    <td data-plan="Basic" class="x">
                        <span></span>
                    </td>
                    <td data-plan="Pro" class="check">
                        <span></span>
                    </td>
                </tr>
                <tr>
                    <th>
                        <h3>Top of the list</h3>
                    </th>
                    <td data-plan="Basic" class="x">
                        <span></span>
                    </td>
                   
                    <td data-plan="Pro" class="check">
                        <span></span>
                    </td>
                </tr>
                <tr>
                    <th>
                        <h3>Rewards Points</h3>
                    </th>
                    <td data-plan="Basic" class="x">
                        <span></span>
                    </td>
                   
                    <td data-plan="Pro" class="check">
                        <span></span>
                    </td>
                   
                </tr>
                <tr>
                    <th>
                        <h3>Post Deals only to the Loyal and Repeat customers</h3>
                    </th>
                    <td data-plan="Basic" class="x">
                        <span></span>
                    </td>
                   
                    <td data-plan="Pro" class="check">
                        <span></span>
                    </td>
                   
                </tr>
                <tr>
                    <th>
                        <h3>Option to Purchase Deals, Make Reservation, Book Appointments and much more</h3>
                    </th>
                    <td data-plan="Basic" class="x">
                        <span></span>
                    </td>
                   
                    <td data-plan="Pro" class="check">
                        <span></span>
                    </td>
                   
                </tr>
                <tr>
                    <th>
                        <h3>Auto generated deals using AI</h3>
                    </th>
                    <td data-plan="Basic" class="x">
                        <span></span>
                    </td>
                    <td data-plan="Pro" class="check">
                        <span></span>
                    </td>
                </tr>
                
            </tbody>
            <tfoot>
              <tr>
                <th></th>
                <td>
                  <button class="btn btn-common mt-3 fff btn-rounded pl-4 pr-4 pt-2 pb-2" style="height: 60px;"
                    [disabled]="businessPlan!=null && businessPlan!='Free' && PaymentID!=''"
                    (click)="onSignUpFree()">{{ (businessPlan==null || businessPlan!='Free' || PaymentID=='' || PaymentID==null)  ? 'Sign Up for  Pro' : 'Cancel Free Subscribtion' }}</button>
                </td>
                <td>
                  <button class="btn btn-common mt-3 fff btn-rounded pl-4 pr-4 pt-2 pb-2" style="height: 60px;cursor: not-allowed;"
                    [disabled]="true">Sign Up for Premium</button>
                  <!-- <button class="btn btn-common mt-3 fff btn-rounded pl-4 pr-4 pt-2 pb-2" style="height: 60px;"
                  [disabled]="businessPlan!=null && businessPlan!='Premium' && PaymentID!=''" 
                  (click)="onSignUpPremium()">{{ (businessPlan==null || businessPlan!='Premium' || PaymentID=='' || PaymentID==null)  ? 'Sign Up for Premium' : 'Cancel Premium Subscribtion' }}</button> -->
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </section>
    </div>
  </div>

  <member-footer></member-footer>
</div>